html{
    font-size: 10px;
    box-sizing: border-box;
}
img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
body{
    background-color: antiquewhite;
}
#wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10rem;
}
.container{
    width: 100%;
    max-width: 94rem;
    margin: 3rem auto 0;
}
#wrapper > .container{
    display: flex;
    padding: 0 8rem;

}
.phone-photo{
    height: 62rem;
    background: url("images/photo.png") center no-repeat;
    flex: 1;
}
.form-data{
    width: 100%;
    max-width: 35rem;
    margin-top: 3rem;

}
.form-data form{
    background-color: beige;
    border: 2px solid beige;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
}
.logo img{
    width: 18rem;
    margin-bottom: 2.5rem;
}
.form-data form input{
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 2px solid beige;
    border-radius: 0.5rem;
}
.form-btn{
    margin: 1rem 0 1.5rem;
    height: 3rem;
    background-color: burlywood;
    font-size: 1.5rem;
    color: darkslategray;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.has-separator{
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2.5rem;

}
.facebook-login{
    font-size: 1.5rem;
    font-weight: bold;
    color: blue;
    margin-bottom: 2.5rem;
}
.sign-up{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding: 2rem 0;
    background-color: beige;
    border: 2px solid beige;
    margin: 1rem 0;

}
.sign-up a{
    color: blue;
    font-weight: bold;
}
