
<html>
<head>LOGIN PAGE</head>
<title>INSTAGRAM</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<body>


<div class="row">
	<div class="col">
	</div>
	<div class="col"> 
<h2>Login</h2>
<form method="post" class="form-group">

	{{message}}<br>
	
  {% csrf_token %}
  

  Username: <input type="text" name="username" /><br/>
  Password: <input type="password" name="password" /><br/>
  
  <button type="submit" class="btn btn-success">Log In!</button>



</form>
</div>
<div class="col"></div>
</div>
</body>
</html>
