<html>
<title>INSTAGRAM</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<body>
	<div class="container">
		<div class="col-md-8">
			
			
		<h1>THE
		LIST OF POSTS</h1>
		<a href={%url 'logout'%}>signout</a> 

		<a href="{% url 'update_profile' %}"><h3>UpdateProfile</h3></a><br>
		

		<a href="{% url 'view' %}"><h3>ViewProfile</h3></a><br>
		
	lists
		
	<a href="{% url 'create_post' %}"><h3>Create post</h3></a><br>


	{% for i in posts %}
	<br>

	<h1>{{i.author}}</h1><img class="img-thumbnail" src="{{ i.author.profile.image.url }}" style="width:100px;height:100px;"><br><br>
	<img class="img-fluid img-thumbnail" src="{{ i.image.url }}" style="width:300px;height:500px;">
	<a href="{% url 'post-detail' i.id %}"><h3>{{i.caption}}</h3></a><br>

	{{i.date_posted}}<br>

	{% endfor %}
	</div>
	<h2>Other people</h2><br>
	<div class="col-md-4">
		{% for user in users %}
		<a href="{% url 'view_with_pk' pk=user.pk %}">{{user.username}}</a><br>
		 

		{% endfor %}
		

	</div>
</div>

</body>
</html>

