{% load staticfiles %}
<html>
	<title>INSTAGRAM</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" href="../../static/css/postlist.css">
	<body>
		<header id="main-header">
			<h1>Instagram</h1>
			<ul>
				<li><a href="">Account</a></li>
				<li><a href="{%url 'logout'%}">Sign out</a></li>
			</ul>
		</header>
		<div class="container">
			<!-- <div class="col"></div>
			<div class="col">
			<h1>THE
			LIST OF POSTS</h1>
			<a href={%url 'logout'%}>signout</a> -->

			<!-- <a href="{% url 'update_profile' %}"><h3>UpdateProfile</h3></a><br>
			lists

			<a href="{% url 'create_post' %}"><h3>Create post</h3></a><br> -->

			{% for i in posts %}
			<br>
			
			<div class="post">
				<div class="author-group">
					<h1 class="author">{{i.author}}</h1>
					<img class="author-image" src="{{ i.author.profile.image.url }}" style="width:100px;height:100px;">
					<hr>	
				</div>
				<!-- <h1 class="author">{{i.author}}</h1>
				<img class="author-image" src="{{ i.author.profile.image.url }}" style="width:100px;height:100px;"> -->
				<br><br>
				<div class="image-group">
					<img class="post-image" src="{{ i.image.url }}" style="width:300px;height:400px;">
					<br><br><br>
					<hr>
				</div>
				<a href="{% url 'post-detail' i.id %}" id="post-link"><h3>{{i.caption}}</h3></a><br>
	
				<h4 class="date-time">Posted on {{i.date_posted}}</h4><br>
			</div>

			{% endfor %}
		</div>
		<div class="col"></div>
		</div>
	</body>
</html>

