
<!DOCTYPE html>
<html lang="en">
	{% load crispy_forms_tags %}
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SIGNUP</title>
</head>
<style>
.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 12px;
  box-shadow: 0 7px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<body>
	<div class='container'>
		<div class = "jumbotron">
			<h1 align= "center" >Signup!!!</h1>
		</div>
	<form method="POST" action="">
		{% csrf_token %}
		{{ form|crispy }}
		<button class="button">
				<input class="btn btn-success" type="submit" value="signup">
				</button>
				<div>
		{% if request.path == "/signup/" %}
			<b>Have an Account  </b> 
			<button class="button">
			<a href="{% url 'login'%}"> Login Here </a>
			</button>
		{% endif %}
		</div>
	</form>
	</div>
</body>
</html>