<html>
<title>INSTAGRAM</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<body> 
	<div class="container">
		<div class="row">
		<div class="col"></div>
		<div class="col">
			<div class="jumbotron">
	<h2>User is -{{posts.author}}</h2><br></div>
	<h4>{{posts.caption}}</h4><br>
	<img class="img-fluid img-thumbnail" src="{{ posts.image.url }}" style="width:300px;height:500px;"><br>
	likes--{{l}}<br>
	
	<a href="{% url 'like-post' posts.id %}" ><button type="submit" value="{{posts.id}}" class="btn btn-primary">Like</button></a><br>
	

	 <a button class="btn btn-outline-danger" href="{% url 'post-update' posts.id %}">Update</button></a>
	 <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-confirm-delete' posts.id%}">Delete</button></a><br>
	 
	 <a button class="btn btn-outline-danger" href="{% url 'create-comment' posts.id %}">add comment</button></a><br>
	 	{% for i in co %}
	<h7>{{i.text}}  -{{i.author}}</h7><br>
	{% endfor %}

</div>
<div class="col"></div>
</div>
</div>