<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INSTAGRAM</title>
</head>
<body>
    <div class="container">
        <h1>Profile</h1>
        <p>Username:{{user}}</p>
        <p>First name:{{user.first_name}}</p>
        <p>Last name:{{user.last_name}}</p>
        <p>Email:{{user.email}}</p>
        <p>Bio:{{}}</p>
    </div>
</body>
</html>